<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--应用程序的名称-->
    <add key="appname" value="瞎JB聊" />
    <!--用户文件的根目录-->
    <add key="rootdir" value="E:\CharRecord\" />
    <!--客户端监听端口-->
    <add key="ClientPort" value="8000"/>
    <!--服务端监听端口-->
    <add key="ServerPort" value="8001"/>
    <!--服务器IP地址-->
    <add key="ServerIP" value="192.168.0.123"/>
  </appSettings>

</configuration>